<section id="portfolio" class="portfolio">
  <div class="contenido-seccion">
    <h2>PROYECTOS</h2>
    <div class="galeria">
      <div class="proyecto">
        <img src="../../../assets/img/p3.jpg" alt="">
        <div class="overlay">
          <h3>Trabajando en ello</h3>
          <p>Desarrollando</p>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/p3.jpg" alt="">
        <div class="overlay">
          <h3>Trabajando en ello</h3>
          <p>Desarrollando</p>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/p3.jpg" alt="">
        <div class="overlay">
          <h3>Trabajando en ello</h3>
          <p>Desarrollando</p>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/p3.jpg" alt="">
        <div class="overlay">
          <h3>Trabajando en ello</h3>
          <p>Desarrollando</p>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/p3.jpg" alt="">
        <div class="overlay">
          <h3>Trabajando en ello</h3>
          <p>Desarrollando</p>
        </div>
      </div>
      <div class="proyecto">
        <img src="../../../assets/img/p3.jpg" alt="">
        <div class="overlay">
          <h3>Trabajando en ello</h3>
          <p>Desarrollando</p>
        </div>
      </div>
    </div>
  </div>
</section>
