<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<!-- SECCION CONTACTO -->
<section id="contacto" class="contacto">
  <div class="contenido-seccion">
    <h2>CONTACTO</h2>
    <div class="fila">
      <!-- Formulario -->
      <div class="col">
        <input type="text" placeholder="Tú Nombre">
        <input type="text" placeholder="Número telefónico">
        <input type="text" placeholder="Dirección de correo">
        <input type="text" placeholder="Tema">
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
        <button>
          Enviar Mensaje <i class="bi bi-send-plus"></i>
          <span class="overlay"></span>
        </button>
      </div>
      <!-- Mapa -->
      <div class="col">
        <img src="../../../assets/img/ubicacion.png" alt="">
        <div class="info">
          <ul>
            <li>
              <i class="bi bi-geo-alt"></i>
              REPUBLICA DOMINICANA 10100, Santo Domingo
            </li>
            <li>
              <i class="bi bi-phone"></i>
              Comunicate: 8093603722
            </li>
            <li>
              <i class="bi bi-envelope-at"></i>
              junior_er@hotmail.es
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
