<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<!-- SECCION SOBRE MI -->
<section id="sobremi" class="sobremi">
  <div class="contenido-seccion">
    <h2>Sobre Mí</h2>
    <p><span>Hola, soy Jose Luis.</span> Como estudiante de ingeniería de software, poseo conocimientos basicos en el campo de la creación de sitios web y
    servicios en línea. Mi experiencia abarca desde el diseño hasta el desarrollo, lo que me ha permitido adquirir
    conocimientos fundamentales en la creación de soluciones digitales. Mi objetivo principal es ampliar mi experiencia y
    habilidades en este emocionante campo, buscando constantemente nuevos desafíos y oportunidades para perfeccionar mis
    capacidades como ingeniero de software. A través de mi portafolio web, espero mostrar mi pasión por la creación de
    experiencias digitales de calidad y mi dedicación para contribuir a proyectos innovadores y exitosos.</p>

    <div class="fila">
      <!-- datos personales -->
      <div class="col">
        <h3>Datos Personales</h3>
        <ul>
          <!-- <li>
            <strong>Cumpleaños</strong>
            15-01-1980
          </li> -->
          <li>
            <strong>Teléfono</strong>
            809 360 3722
          </li>
          <li>
            <strong>Email</strong>
            junior_er@hotmail.es
          </li>
          <li>
            <strong>Website</strong>
            www.example.com
          </li>
          <li>
            <strong>Dirección</strong>
            Residencial adonis, calle Icaro #1
          </li>
          <!-- <li>
            <strong>Cargo</strong>
            <span>FREELANCE</span>
          </li> -->
        </ul>
      </div>

      <!-- intereses -->
      <div class="col">
        <h3>Intereses</h3>
        <div class="contenedor-intereses">
          <div class="interes">
            <i class="bi bi-controller"></i>
            <span>JUEGOS</span>
          </div>
          <div class="interes">
            <i class="bi bi-music-note-beamed"></i>
            <span>MUSICA</span>
          </div>
          <div class="interes">
            <i class="bi bi-airplane"></i>
            <span>VIAJAR</span>
          </div>
          <!-- <div class="interes">
            <i class="bi bi-apple"></i>
            <span>MAC OS</span>
          </div> -->
          <!-- <div class="interes">
            <i class="fa-solid fa-person-hiking"></i>
            <span>DEPORTE</span>
          </div> -->
          <div class="interes">
            <i class="bi bi-journal-bookmark-fill"></i>
            <span>LIBROS</span>
          </div>
          <div class="interes">
            <i class="bi bi-car-front-fill"></i>
            <span>AUTOS</span>
          </div>
          <div class="interes">
            <i class="bi bi-camera2"></i>
            <span>FOTOS</span>
          </div>

        </div>
      </div>
    </div>

    <!-- <a class="btn-area-cv" href="https://drive.google.com/file/d/1a5rBWHEldpvEg-3y-fD8cGNL1eI3H8cQ/view?usp=sharing"
      target="_blank">
      <button mat-raised-button color="primary"><span class="current-typo--button-medium">Download
          CV. <i class="bi bi-cloud-download"></i></span></button>

    </a> -->

    <a class="btn-area-cv" href="https://drive.google.com/file/d/1a5rBWHEldpvEg-3y-fD8cGNL1eI3H8cQ/view?usp=sharing" target="_blank">
      <button>Download CV
        <i class="bi bi-cloud-download"></i>
        <span class="overlay"></span>
      </button>
    </a>

  </div>
</section>
